.forgetPassword {
  color: rgb(1, 30, 74);
  position: absolute;
  right: 0px;
  /* margin-left: 15rem; */
}

.notRegister {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.1rem;
  color: rgb(1, 30, 74);
}

.socialRow {
  margin-top: 45px;
}

.socialMediaIcons {
  color: rgb(1, 30, 74);
  font-size: 1.6rem;
}
