.movieDescription {
  height: 100% !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
}

.descriptionParagraph {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.movieTitle {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.movieRating {
  margin-top: auto !important;
  color: rgb(95, 95, 95);
  display: inline-block;
  font-weight: bold !important;
}
.rateTag {
  background-color: transparent;
  border: none;
  color: dodgerblue;
}
.ratingStar {
  color: rgb(176, 143, 24);
  margin-top: 3px ;
}
